# Bazel
bazel-apollo
bazel-apollo_dev
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
/Debug/
*.pyc
*genrule.log
# temporary files
*.swp
*.swo


# Eclipse IDE files
.project
.cproject
.settings
.classpath

# IntelliJ files
.idea

# Vscode files
.vscode/*

# atom.io files
*.gch

# Logs.
*.stdout
*.stderr
nohup.out
*.bak
*.csv.result

# Editor configs
.ycm_extra_conf.py


.master_snapshot

ros_pkgs/build
ros_pkgs/devel


1.30.2-main.sock
1.30.2-shared.sock
Backups/
Cache
CachedData
CachedExtensions
Cookies
Cookies-journal
GPUCache
Local\ Storage/
Preferences
User
a.txt
languagepacks.json
logs
machineid

