<?xml version="1.0"?>

<launch>
  <param name="use_sim_time" type="bool" value="true" />

  <node pkg="rosbag" type="play" name="play" output="screen" 
		args="-s 65 -r 0.5 -l --clock /dataset/drone/uni/m600_2000-01-01-00-01-46_0.bag.active">
    <remap from="velodyne_points" to="loged_velodyne_points"/>
  </node>

  <node pkg="geodetic_utils" type="geodetic_to_local_conversion_node" name="geodetic_to_local_conversion_node" output="screen">
    <remap from="gps" to="/dji_sdk/gps_position"/>
    <remap from="imu" to="/dji_sdk/imu"/>
    <remap from="vel" to="/dji_sdk/velocity"/>
    <remap from="odometry" to="/dji_sdk/odometry"/>
  </node>

  <node pkg="geodetic_utils" type="gimbal_tf_broadcaster_bag.py" name="gimbal_tf_broadcaster" respawn="true">
  </node>

  <!-- <include trajectory_bag_2019-08-08-16-10-59_0.bag.active file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"> -->
  <include file="$(find dji_command)/launch/VLP16_points.launch">
    <arg name="min_range" value="0.4" />
    <arg name="view_width" value="6.26"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find dji_command)/rviz/drone_mapping.rviz">
  </node>

  <!-- Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period (milliseconds) -->
  <node pkg="tf" type="static_transform_publisher" name="pylon_camera" args="0 0 0.05 1.5707963 3.14159 1.5707963 velodyne pylon_camera 100"/>
  <node pkg="dji_command" type="yaml_to_camera_info_publisher.py" name="yaml_to_camera_info_publisher" args="$(find dji_command)/resources/ost.yaml" respawn="true"/>

</launch>
